<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link href="/css/stylesHome.css" rel="stylesheet" />

  <body class="body-home">
    <%- include('../partials/header.ejs') %>

   

   
  </body>
</html>
